<div class="list-group">
    <div *ngFor="let lecture of ((modyuleResourcesObservable | async)?.supplementaryLectures)" class="list-group-item">
        <!--a href="{{lecture.url}}" target="_blank" *ngFor="let lecture of ((lecturesObservable | async)?.lectures)" class="list-group-item"-->
        <a href="https://www.weblearn.ox.ac.uk{{lecture.url}}" target="_blank" >
        <!--a href="{{lecture.url}}" target="_blank" *ngFor="let lecture of (week.lectures)" class="list-group-item"-->
        <!--ref="{{lecture?.url}}" target="_blank" *ngFor="let lecture of (week?.lectures | lectureType: 'main')" class="list-group-item"-->
            <h4 class="list-group-item-heading"><fa [name]="'video-camera'"></fa> {{lecture.name}}</h4>
            <!--p class="list-group-item-text">{{lecture.description | descriptionFormatter}} <br/><strong>{{lecture.description | descriptionFormatter: 'lecturer'}}</strong></p-->
            <p class="list-group-item-text" [innerHTML]="lecture.description | descriptionFormatter"></p>
            <p class="list-group-item-text" [innerHTML]="lecture.description | descriptionFormatter: 'lecturer'"></p>

        </a>
        <button type="button" class="btn btn-primary" (click)="lecture.collapsed = !lecture.collapsed">Learning objectives</button>
        <div [collapse]="lecture.collapsed" class="card card-block card-header">
          <div class="well well-lg" [innerHTML]="lecture.learningOutcomes"></div>
        </div>
        <div *ngFor="let resource of (lecture.resources)" class="list-group-item">
            <a href="{{resource.url}}" target="_blank" >
                <h4 class="list-group-item-heading"><fa [name]="'video-camera'"></fa> {{resource.name}}</h4>
            </a>
        </div>
    </div>
</div>
